body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family:arial;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
}

.logo img {
    max-width: 40px;
    height: auto;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
    text-align: center; 
    flex-grow: 1; 
    margin: 0 auto; 
}

.square-button {
    flex: 1; 
    margin: 5px;
    width: 150px; 
    height: 250px; 
    background-color: #58a9de; 
    color: #fff; 
    border: none; 
    font-size: 40px; 
    cursor: pointer; 
}

.square-button:hover {
    background-color: #277cb5; 
}

.button-container {
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.text-section {
    flex: 1;
    padding: 20px;
    font-size: 18px;
}

.text-section h1 {
    font-size: 24px;
    font-weight: bold;
}

.image-section {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.image-section img {
    max-width: 100%; 
    height: auto;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}